body {
    background-color: black;
}

.wd-title {
    color: white;
    font-size: 20px;

    left: 16px;
    top: 12px;
}
.wd-handle {
    color: rgb(110, 118, 125);
    font-size: 13px;

    left: 16px;
    top: 36px;
    padding-top: 3px;
    padding-bottom: 12px;
   
}

.wd-container {
    position: absolute;
    left: 23rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(110, 118, 125, 0.582);
}

.wd-section2 {
    display:flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    left: 23rem;
    top: 5rem;
}

.wd-img1 {
    border-radius: 50%;
    top:12px;
    left: 16px;
    width: 48px;
    height: 48px;
}

.wd-author-details {
    top: 12px;
    display: flex;
    flex-direction: column;
}

.wd-name {
    font-size: 15px;
    color: white;
}
.wd-handle-author {
    color:rgb(110, 118, 125);
}

.wd-details-container {
    width: 506px;
}
.wd-details {
    font-size: 15px;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.753);
}

.wd-section-E {
    position: absolute;
    left: 26.5rem;
    width: 33rem;
    top: 14rem;
    display: flex;
    flex-direction: column;
    gap: 0px;


    
}

.wd-section-E-image {
    left: 32px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 504px;
    height: 264px;
}
.wd-section-E-title {
    padding:16px;
    padding-bottom: 0px;
    color: rgba(255, 255, 255, 0.897);
    font-weight: bold;
    font-size: 15px;
}

.wd-section-E-text {
    padding: 16px;
    padding-top: 0px;
    color:rgb(110, 118, 125);
    
}

.wd-section-E-sub {
    border: 0.05px solid rgba(110, 118, 125, 0.698);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 31.45rem;
    
}


.wd-icons {
    display: flex;
    flex-direction: row;
    gap: 90px;
    color:rgb(110, 118, 125);
    position: absolute;
    top: 38rem;
    left: 26.5rem;
}
 

.fa-heart {
    color: rgb(230, 80, 21);
}

.wd-icon-3-number {
    padding-left: 6px;
    color: rgb(230, 80, 21);
}

.wd-icon-1-number {
    padding-left: 6px;
}

a{
    color: rgb(110, 118, 125);
    text-decoration: none;
}


.wd-ellipsis-gray {
    position: absolute;
    right: 28rem;
    top: 0.5rem;
    color: rgb(21, 129, 179);
    transform: scale(1,1.5);
}

.wd-ellipsis-blue {
    position: absolute;   
    right: 28rem;
    top: 4.5rem;
    color: rgb(110, 118, 125);
    transform: scale(1,1.5);
}
